<h1>Sign In</h1>

<form action="<%= sessions_url %>" method="POST">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_email"></label>
  <input type="text" placeholder="Email" name="user[email]">
  <br>

  <label for="user_password"><label>
  <input type="password" placeholder="Password" name="user[password]">
  <br>
  <br>

  <input type="submit">
</form>
