# Ignore all .DS_Store files
*.DS_Store

# Ignore all .pdf files
*.pdf

# Ignore resume
/*.pages
/*.docx

# Ignore the Jumpstart_Blogger, which contains it's own repo
*Jumpstart_Blogger/*
*Prep Work/Jumpstart_Blogger/*

# Ignore sample_readme.md
/sample_readme.md

# Ignore proprietary materials
/Assessments/*
/Practice*/*
/*.rb
/Curriculum/*

# Ignore the Full Stack project, which contains it's own repo
/Nformd/*

# Ignore the JavaScript game, which contains it's own repo
/Bat-Man/*

# Ignore the code-intensive project, which contains it's own repo
/pQuery/*
