<h1>Change Password</h1>
<form action="<%= user_url(@user) %>" method="PATCH">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <p>Username: <%= @user.username %></p>
  <input type="password" name="user[password]" placeholder="New Password">
  <br>
  <br>
  <input type="submit" value="Change Password">
  <input type="submit" method ="GET" value="Cancel">
</form>
